{
    "presets": ["env"],
    "plugins": [
        ["component",[
            {
                "libraryName": "element-ui",
                "styleLibraryName": "theme-chalk"
            }
        ]],
        "transform-object-rest-spread"
    ]
}